/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_fr.h"
#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&mt { flavor = "tap-preferred"; };

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc-with-gh {
            bindings = <&kp ESC>;
            key-positions = <19 22>;
            layers = <0>;
            timeout-ms = <80>;
        };

        combo_e_grave {
            bindings = <&kp FR_E_GRAVE>;
            key-positions = <3 23>;
            timeout-ms = <80>;
        };

        combo_e_aigu {
            bindings = <&kp FR_E_ACUTE>;
            key-positions = <3 25>;
            timeout-ms = <80>;
        };

        combo_e_circonflex {
            bindings = <&macro_e_circonflex>;
            key-positions = <3 24>;
            timeout-ms = <80>;
        };

        combo_a_grave {
            bindings = <&kp FR_A_GRAVE>;
            key-positions = <1 23>;
            timeout-ms = <80>;
        };

        combo_a_circonflex {
            bindings = <&macro_a_circonflex>;
            key-positions = <1 24>;
            timeout-ms = <80>;
        };

        combo_c_cedille {
            bindings = <&kp FR_C_CEDILLA>;
            key-positions = <31 24>;
            timeout-ms = <80>;
        };

        combo_u_grave {
            bindings = <&kp FR_U_GRAVE>;
            key-positions = <9 18>;
            timeout-ms = <80>;
        };
    };

    behaviors {
        td_numbers: tapdance1 {
            compatible = "zmk,behavior-tap-dance";
            label = "numbers";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&tog 1>;
        };

        td_symbols: tapdance2 {
            compatible = "zmk,behavior-tap-dance";
            label = "symbols";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&tog 2>;
        };

        td_arrows: tapdance3 {
            compatible = "zmk,behavior-tap-dance";
            label = "arrows";
            #binding-cells = <0>;
            bindings = <&mo 3>, <&tog 3>;
        };

        td_system: tapdance4 {
            compatible = "zmk,behavior-tap-dance";
            label = "system";
            #binding-cells = <0>;
            bindings = <&mo 4>, <&tog 4>;
        };
    };

    macros {
        macro_e_circonflex: fr_e_circonflex {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FR_CARET &kp FR_E>;
            label = "fr_e_circonflex";
        };

        macro_a_circonflex: fr_a_circonflex {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FR_CARET &kp FR_A>;
            label = "FR_A_CIRCONFLEX";
        };

        macro_i_circonflex: macro_i_circonflex {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FR_CARET &kp FR_I>;
            label = "MACRO_I_CIRCONFLEX";
        };

        macro_o_circonflex: macro_o_circonflex {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FR_CARET &kp FR_O>;
            label = "MACRO_O_CIRCONFLEX";
        };

        macro_u_circonflex: macro_u_circonflex {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FR_CARET &kp FR_U>;
            label = "MACRO_U_CIRCONFLEX";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "keys";
            bindings = <
&mo 4      &kp FR_A       &kp FR_Z         &kp FR_E       &kp FR_R        &kp FR_T   &kp ESC   &kp RSHIFT  &kp FR_Y  &kp FR_U      &kp FR_I     &kp FR_O      &kp FR_P     &kp DEL
&kp TAB    &mt LGUI FR_Q  &mt LSHIFT FR_S  &mt LALT FR_D  &mt LCTRL FR_F  &kp FR_G   &kp LGUI  &kp RCTRL   &kp FR_H  &kp FR_J      &kp FR_K     &kp FR_L      &kp FR_M     &kp FR_DOLLAR
&sk LSHFT  &kp FR_W       &kp FR_X         &kp FR_C       &kp FR_V        &kp FR_B                         &kp FR_N  &kp FR_COMMA  &kp FR_SEMI  &kp FR_COLON  &kp FR_EXCL  &kp FR_STAR
                                           &mo 1          &mo 2           &kp SPACE                        &kp RET   &kp BSPC      &mo 3
            >;
        };

        numbers {
            display-name = "numbers";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5            &kp F6   &trans  &trans  &kp FR_PLUS   &kp FR_N7       &kp FR_N8   &kp FR_N9  &kp FR_STAR   &kp BSPC
&kp F7  &kp F8  &kp F9  &kp F10  &mt LS(LGUI) F11  &kp F12  &trans  &trans  &kp FR_MINUS  &mt LALT FR_N4  &kp FR_N5   &kp FR_N6  &kp FR_SLASH  &kp FR_PERCENT
&none   &none   &none   &none    &none             &none                    &kp FR_EQUAL  &kp FR_N1       &kp FR_N2   &kp FR_N3  &kp FR_LPAR   &kp FR_RPAR
                        &trans   &trans            &trans                   &kp KP_ENTER  &kp FR_N0       &kp FR_DOT
            >;
        };

        symbols {
            display-name = "symbols";
            bindings = <
&none   &kp FR_AT  &none          &kp FR_EURO        &kp FR_PLUS   &kp FR_UMLAUT  &trans  &trans  &kp FR_DQT  &kp FR_LBKT  &kp FR_RBKT  &kp FR_FSLH  &kp FR_BSLH  &kp BSPC
&trans  &none      &kp FR_DOLLAR  &kp FR_UNDERSCORE  &kp FR_MINUS  &kp FR_CARET   &trans  &trans  &kp FR_SQT  &kp FR_LPAR  &kp FR_RPAR  &kp FR_LT    &kp FR_GT    &kp FR_PERCENT
&trans  &none      &kp FR_STAR    &kp FR_HASH        &kp FR_EQUAL  &none                          &kp GRAVE   &kp FR_LBRC  &kp FR_RBRC  &kp FR_AMPS  &kp FR_PIPE  &kp FR_TILDE
                                  &trans             &trans        &trans                         &trans      &trans       &trans
            >;
        };

        arrows {
            display-name = "arrows";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4            &kp F5          &kp F6   &trans  &trans  &kp PAGE_UP  &kp HOME  &kp UP    &kp END    &none  &none
&kp F7  &kp F8  &kp F9  &kp F10           &kp F11         &kp F12  &trans  &trans  &kp PG_DN    &kp LEFT  &kp DOWN  &kp RIGHT  &none  &none
&trans  &none   &none   &kp LEFT_CONTROL  &kp LEFT_SHIFT  &none                    &none        &none     &none     &none      &none  &none
                        &kp LALT          &kp LEFT_ALT    &trans                   &trans       &trans    &trans
            >;
        };

        system {
            display-name = "system";
            bindings = <
&trans  &kp PSCRN     &kp C_MUTE       &kp C_VOL_DN  &kp C_VOL_UP  &none           &none  &none  &rgb_ug RGB_COLOR_HSB(208,100,38)  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &ind_bat
&none   &bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR      &none  &none  &rgb_ug RGB_COLOR_HSB(128,95,24)   &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &ind_con
&none   &none         &rgb_ug RGB_TOG  &sys_reset    &bootloader   &studio_unlock                &rgb_ug RGB_COLOR_HSB(0,100,50)    &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &none            &none            &none
                                       &trans        &trans        &none                         &trans                             &bt BT_CLR       &trans
            >;
        };
    };
};
